language: android
sudo: false
jdk: oraclejdk8
env:
  matrix:
    - ANDROID_TARGET=android-24 ANDROID_ABI=armeabi-v7a
  global:
      # wait up to 10 minutes for adb to connect to emulator
      - ADB_INSTALL_TIMEOUT=10
android:
  components:
    - platform-tools
    - tools
    - build-tools-24.0.3
    - android-24

    # Additional components
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support

    # Emulator for the tests
    - sys-img-armeabi-v7a-android-22
cache:
  directories:
    - $HOME/.gradle/caches/2.14.1
    - $HOME/.gradle/caches/jars-1
    - $HOME/.gradle/daemon
    - $HOME/.gradle/native
    - $HOME/.gradle/wrapper
before_script:
  - echo no | android create avd --force --name test --target $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
script:
  - ./gradlew check -PdisablePreDex --continue --stacktrace
  - android-wait-for-emulator
  - adb devices
  - adb shell input keyevent 82 &
  - ./gradlew connectedAndroidTest -PdisablePreDex --continue --stacktrace